.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 35px;
}

.description{
  width: 100%;
  padding-bottom: 40px;
}

.interesting{
  color: #982388;
  font-family: var(--font-tittle);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
}

.tittle{
  color: #720F64;
  font-family: var(--font-texting);
  font-size: 40px;
  font-style: normal;
  font-weight: lighter;
  line-height: 88px;
  margin: 0;
  height: 72px;
}

.texting{
   font-family: var(--font-texting);
   color: #444444;
   font-size: 24px;
   font-style: normal;
   font-weight: lighter;
   line-height: 41px;
 }



/*bar & dark_theme*/
.bar_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.bar{
  width: 100%;
  margin: 0;
  padding: 0;
}

.brand{
  font-family: var(--font-texting);
  color: #444;
  font-size: 35px;
  margin: 0;
  line-height: 70px;
  border-bottom: 2px solid #444444;
  font-weight: bold;
}

.brand:hover{
  cursor: pointer;
  color: #720F64;
  border-bottom: 2px solid #720F64;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #444444;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #F8F8F8;
}


input:checked + .slider:before {
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*header*/

.home_container{
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 90px ;
}

.txt_me{
  width: 600px;
  font-size: 20px;
  text-align: start;
  font-family: var(--font-texting);
  line-height: 30px;
}

.photo{
  width: 400px;
  height: 480px;
}

.photo:hover {
  transform:scale(0.8);
  transition: transform 0.5s ease-in;
  cursor: pointer;
}

.container_icon{
  display: flex;
  padding: 0;
  align-items: start;
  justify-content: start;
}

.container_icon a {
  position: relative;
  display: block;
  padding: 2px;
}

#position_icon{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.container_icon a:hover::before {
  transform: scaleX(1);
}

.container_icon a::before {
  transform-origin: center;
}

.only_icons{
  color:#444444;
  width:25px;
  height:25px;
  margin: 3px;
  cursor: pointer;
}

/*section_aboutMe*/
.picture_me{
  width: 200px;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

.picture_me:hover {
  transform:scale(0.9);
  transition: transform 0.5s ease-in;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.40);
}

.img_grid{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.icon_tool{
  color: #444444;
  width: 20px;
  height: 20px;
  margin: 3px;
  cursor: pointer;
}

.icons_tools_animation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.icons_tools_animation a{
  position: relative;
  display: block;
  padding: 1px;
}

.icons_tools_animation a::before {
  content:'';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

.icons_tools_animation a:hover::before {
  transform: scaleX(1);
}

.icons_tools_animation a::before {
  transform-origin: center;
}

/*experience*/
#working_1{
  background-image: url("../../src/assets/pallet.png");
}

#working_2{
  background-image: url("../../src/assets/franmotors.png");
}

#working_3{
  background-image: url("../../src/assets/quirocenter.jpg");
}

.working_experience{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 30px;
  width: 270px;
  height: 350px;
  background-color: #cccccc;
  border-radius: 15px;
  display: flex;
  align-items: self-end;
  justify-content: center;
}

.working_experience:hover{
  box-shadow:
  rgba(114, 15, 100, 0.4) 0 0 1px 5px,
  rgba(114, 15, 100, 0.3) 0 0 2px 10px,
  rgba(114, 15, 100, 0.2) 0 0 3px 15px,
  rgba(114, 15, 100, 0.1) 0 0 4px 20px,
  rgba(114, 15, 100, 0.05) 0 0 5px 25px;
}

.name_work{
  width: 210px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #982388;
  font-family: var(--font-texting);
  font-size: 30px;
  padding: 0 5px;
  border-radius: 12px;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}

.name_work:hover{
  transform:scale(1.05);
  transition: transform 0.5s;
}

/*modal*/
.modal_container{
  background-color: rgba(0, 0, 0, 0.90);
  display:flex;
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.work_container{
  width: 890px;
  height: 490px;
  background-color: #f9f9f9;
  border-radius: 20px;
  display: flex;
  color: #444444;
}

.things_work_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container_things{
  display: flex;
  flex-direction: row;
  padding-bottom: 27px;
}

/*content_modal_work*/
.tittle_modal_work{
  color: #720F64;
  font-weight: 600;
}

.paragraph_content{
  font-size: 14px;
  width: 500px;
  padding-right: 55px;
}

.paragraph_content p{
  margin: 0;
}


.img_modal{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 285px;
  height: 320px;
  border-radius: 10px;
}

.img_modal:hover{
  transform:scale(0.9);
  transition: transform 0.5s;
}

/*picture_works*/
#ag_img{
  background-image: url("../../src/assets/ag.png");
}

#franco_img{
  background-image: url("../../src/assets/francomotors.png");
}

#quirocenter_img{
  background-image: url("../../src/assets/quiropractico.png");
}


/*footer*/
.contact_container{
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img_contact{
  width: 300px;
  height: 300px;
  border-radius: 360%;
  cursor: pointer;
}

.img_contact:hover{
  box-shadow: rgba(114, 15, 100,0.6) 0 0 1px 5px,
              rgba(114, 15, 100, 0.3) 0 0 2px 10px,
              rgba(114, 15, 100, 0.2) 0 0 3px 15px,
              rgba(114, 15, 100, 0.1) 0 0 4px 20px,
              rgba(114, 15, 100, 0.05) 0 0 5px 25px;
  transform:scale(0.9);
  transition: transform 0.5s;
}

.description_footer{
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.txt_contact{
  margin-bottom: 0;
  font-weight: 300;
}

.txt_mail{
  height: 80px;
  font-family: var(--font-texting);
  color: #444444;
  font-size: 35px;
  font-weight: bolder;
  text-decoration: none;
  margin-bottom: 30px;
}

.txt_mail:hover{
  color: #982388;
}

/* Specific styles for large screens*/
@media only screen and (min-width: 1024px) {
  .home_container{
    height: 450px;
  }

  .description{
    padding-bottom: 55px;
  }

  .photo{
    width: 270px;
    height: 340px;
  }

  .picture_me{
    width: 180px;
    height: 290px;
  }

  .txt_me{
    width: 580px;
    margin-right: 10px;
  }

  .description_footer{
    padding-bottom: 0;
  }
}

/*Styles for medium screens (tablets).*/
@media only screen and (min-width: 700px) and (max-width: 1025px) {
  /*home*/
  .home_container{
    height: 400px;
    padding: 0 30px ;
  }

  .txt_me{
    width: 390px;
    font-size: 20px;
    line-height: 40px;
  }

  .photo{
    width: 260px;
    height: 330px;
  }

  #position_icon{
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  .description{
    padding-bottom: 60px;
  }

  /*aboutme*/
  #about_me_container{
    height: 430px;
  }

  .picture_me{
    width: 150px;
    height: 160px;
  }

  .img_grid{
    display: grid;
    grid-template-columns: auto ;
  }

  /*experiences_work*/
  .working_experience{
    width: 185px;
    height: 270px;
  }

  .name_work{
    font-size: 22px;
  }

  /*modal*/
  .work_container{
    width: 810px;
    height: 495px;
  }

  .paragraph_content{
    width: 400px;
  }
}

/*!* Mobile *!*/
@media only screen and (min-width: 430px) and (max-width: 699px) {
  .main{
    padding: 20px;
  }

  .interesting{
    font-size: 30px;
  }

  .tittle{
    font-size: 30px;
    line-height: 60px;
  }

  /*bar*/
  .brand{
   display: none;
  }

  .bar_container{
   display: flex;
   justify-content: flex-end;
  }

  .switch {
    width: 40px;
    height: 20px;
  }

  .slider:before {
    height: 15px;
    width: 15px;
    bottom: 2px;
  }

  input:checked + .slider:before {
    -ms-transform: translateX(19px);
    transform: translateX(19px);
  }

  /*principal*/
  .home_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 390px;
    padding: 10px 5px ;
  }

  .txt_me{
    font-size: 16px;
    width: 380px;
    line-height: 25px;
    margin: 0;
  }

  .photo{
    width: 200px;
    height: 250px;
  }

  #position_icon{
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  .description{
    padding-bottom: 60px;
  }

  /*about_me*/
  #about_me_container{
    height: 390px;
  }

  .picture_me{
    width: 180px;
    height: 190px;
  }

  .img_grid{
    display: grid;
    grid-template-columns: auto auto ;
  }

  /*experiences_work*/
  #work_container_full{
    height: 575px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 9px;
  }

  .working_experience{
    margin-top: 0;
    width: 185px;
    height: 250px;
  }

  .name_work{
    font-size: 22px;
  }

  /*modal*/
  #ag_img{
    width: 80px;
    height: 90px;
  }

  .work_container{
    width: 400px;
    height: 500px;
  }

  .container_things{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tittle_modal_work{
    color: #720F64;
    font-weight: 600;
  }

  .img_modal{
    width: 70px;
    height: 80px;
  }

  .interesting{
    margin-bottom: 0;
  }

  .paragraph_content{
    font-size: 12px;
    width: 300px;
    margin-bottom: 5px;
  }

  /*contact*/
  .contact_container{
    height: 420px;
  }

  .txt_mail{
    font-size: 30px;
  }

  .txt_contact{
    font-size: 15px;
    font-weight: 400;
  }

  .img_contact{
    width: 250px;
    height: 250px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 430px) {
  .main{
    padding: 15px;
  }

  .interesting{
    font-size: 25px;
  }

  .tittle{
    font-size: 25px;
    line-height: 50px;
    height: 50px;
  }

  /*bar*/
  .brand{
    display: none;
  }

  .bar_container{
    display: flex;
    justify-content: flex-end;
  }

  .switch {
    width: 40px;
    height: 20px;
  }

  .slider:before {
    height: 15px;
    width: 15px;
    bottom: 2px;
  }

  input:checked + .slider:before {
    -ms-transform: translateX(19px);
    transform: translateX(19px);
  }

  /*principal*/
  .home_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 570px;
    padding: 10px 5px ;
  }

  .txt_me{
    font-size: 14px;
    width: 300px;
    line-height: 25px;
    margin: 0;
  }

  .photo{
    width: 200px;
    height: 250px;
  }

  #position_icon{
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  .description{
    padding-bottom: 60px;
  }

  /*about_me*/
  #about_me_container{
    height: 535px;
  }

  #about_me_txt{
    font-size: 12px;
    line-height: 25px;
  }

  .img_grid{
    grid-template-columns: auto;
  }

  .picture_me{
    width: 140px;
    height: 150px;
  }

  /*experiences_work*/
  #work_container_full{
    height: 750px;
    display: grid;
    grid-template-columns: auto ;
    gap: 9px;
  }

  .work_container{
    width: 360px;
    height: 600px;
  }

  .working_experience{
    width: 180px;
    height: 230px;
    margin: 0;
  }

  .name_work{
    font-size: 20px;
  }

  .description{
    padding-bottom: 90px;
  }

  /*modal*/
  #ag_img{
    width: 90px;
    height: 100px;
  }

  .container_things{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img_modal{
    width: 70px;
    height: 80px;
  }

  .paragraph_content{
    font-size: 12px;
    width: 250px;
    margin-bottom: 5px;
  }

  /*contact*/

  .description_footer{
  padding-top: 65px;
  }

  .contact_container{
    height: 550px;
  }

  .txt_mail{
    font-size: 25px;
  }

  .txt_contact{
    font-size: 15px;
    font-weight: 400;
  }

  .img_contact{
    width: 200px;
    height: 200px;
  }
}